<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Danh sách nhân viên | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <!--  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css}">-->
  <!--  &lt;!&ndash; or &ndash;&gt;-->
  <!--  <link rel="stylesheet" th:href="@{https://unpkg.com/boxicons@latest/css/boxicons.min.css}">-->

  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js}"></script>
  <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css}">
<!--  <script th:src="@{./js/app.js}"></script>-->
  <script th:src="@{https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js}"></script>
  <script th:src="@{https://www.gstatic.com/firebasejs/7.0.0/firebase-storage.js}"></script>

</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
  <!-- Sidebar toggle button-->
  <a class="app-sidebar__toggle" th:href="@{#}" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">


    <!-- User Menu-->
    <li><a class="app-nav__item" th:href="@{/home}"><i class='bx bx-log-out bx-rotate-180'></i> </a>

    </li>
  </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div>
      <p class="app-sidebar__user-name"><b>Admin</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item active" th:href="@{/categories}"><i class='app-menu__icon bx bx-id-card'></i>
      <span class="app-menu__label">Quản lý thể loại</span></a></li>
    <li><a class="app-menu__item" th:href="@{/readers}"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý độc giả</span></a></li>
    <li><a class="app-menu__item" th:href="@{/books}"><i
            class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sách</span></a>
    </li>
    <li><a class="app-menu__item" th:href="@{/users}"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Quản lý người dùng</span></a></li>
    <li><a class="app-menu__item" th:href="@{/bookborrow}"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Mượn sách</span></a></li>
    <li><a class="app-menu__item" th:href="@{/bookreturn}"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Trả sách</span></a></li>
  </ul>
</aside>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a th:href="@{#}"><b>Danh sách sản phẩm</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Sửa thể loại</h5>
                            </span>
        </div>
      </div>
      <form th:action="@{/categories/update/{id}(id=${updateCategory.id})}" th:object = "${updateCategory}" method="POST">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label"> Mã thể loại</label>
            <input class="form-control" name="id" type="text" th:field="*{id}" readonly>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label"> Tên thể loại</label>
            <input class="form-control" name="name" type="text" th:field="*{name}">
          </div>
        </div>
        <BR>
        <button class="btn btn-save" type="submit">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" th:href="@{/categories}" onclick="location.reload()">Hủy bỏ</a>
        <BR>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>

</main>


<!-- Essential javascripts for application to work-->
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{src/jquery.table2excel.js}"></script>
<!-- <script th:src="@{s/main.js"></script> -->
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js}"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript">
  $('#sampleTable').DataTable();
  //Thời Gian
  function time() {
    var today = new Date();
    var weekday = new Array(7);
    weekday[0] = "Chủ Nhật";
    weekday[1] = "Thứ Hai";
    weekday[2] = "Thứ Ba";
    weekday[3] = "Thứ Tư";
    weekday[4] = "Thứ Năm";
    weekday[5] = "Thứ Sáu";
    weekday[6] = "Thứ Bảy";
    var day = weekday[today.getDay()];
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    nowTime = h + " giờ" + m + " phút" + s + " giây";
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = day + ', ' + dd + '/' + mm + '/' + yyyy;
    tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
    document.getElementById("clock").innerHTML = tmp;
    clocktime = setTimeout("time()", "1000", "Javascript");

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
  }
</script>
</body>

</html>